<div class="jumbotron">
	<h1>Welcome to Supple Dating!</h1>
	<p>Imagine you are the bachelor/ette of your own personal show. This is an interactive dating supplement that helps you make the best decisions as you look for THE ONE.</p>
	<%= link_to "Sign Up Now", "#", class: "btn btn-danger btn-lg" %>
</div>
