<div class="jumbotron center">
	<h1>Welcome to Supple Dating!</h1>
	<p>Imagine you are the bachelor/ette of your own personal show. This is an interactive dating supplement that helps you make the best decisions as you look for THE ONE.</p>
	<p>
    <%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
    <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
  </p>    
</div>
