<%= image_tag @candidate.image.url(:medium) %>

<p>
  <strong>Name:</strong>
  <%= @candidate.name %>
</p>

<% if @candidate.user == current_user %>
	<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<% end %>
<%= link_to 'Back', candidates_path %>
